.product-image {
    object-fit: contain;
    height: 10em !important;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    text-align: center;
}

.price {
    font-weight: 500;
    font-size: 1.3em;
}

.product.card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}